build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/berlin-clock-converter.sln
build/berlin-clock-converter.vcxproj
build/berlin-clock-converter.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc5/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc5/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeSystem.cmake
build/CMakeFiles/3.28.0-rc5/VCTargetsPath.txt
build/CMakeFiles/3.28.0-rc5/VCTargetsPath.vcxproj
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/_IsIncrementalBuild
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/_IsIncrementalBuild
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.28.0-rc5/x64/Debug/_IsIncrementalBuild
build/CMakeFiles/3.28.0-rc5/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.28.0-rc5/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/42205744ef25a441d9e68aeff4de015a/generate.stamp.rule
build/Debug/berlin-clock-converter.exe
build/Debug/berlin-clock-converter.pdb
build/berlin-clock-converter.dir/Debug/_IsIncrementalBuild
build/berlin-clock-converter.dir/Debug/berlin-clock-converter.exe.recipe
build/berlin-clock-converter.dir/Debug/berlin-clock-converter.ilk
build/berlin-clock-converter.dir/Debug/main.obj
build/berlin-clock-converter.dir/Debug/vc143.pdb
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/berlin-clock-converter.lastbuildstate
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/CL.command.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/CL.read.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/CL.write.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/CustomBuild.command.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/CustomBuild.read.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/CustomBuild.write.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/link.command.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/link.read.1.tlog
build/berlin-clock-converter.dir/Debug/berlin-c.9454B9A4.tlog/link.write.1.tlog
build/x64/Debug/ALL_BUILD/_IsIncrementalBuild
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/_IsIncrementalBuild
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
